@media print {
    .storage {
        display: none;
    }
    .stage {
        width: 100%
    }
    .seats,
    .container {
        height: auto;
        padding: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .stage::before {
        top: -5em;
        width: 100%;
    }
    .stage::after {
        bottom: -5em;
        width: 100%;
    }
    body,
    .container,
    .stage,
    .draggable,
    .droppable {
        background: transparent !important;
    }
    .seats span {
        font-size: 1.2em !important;
    }
    .break {
        word-break: normal;
    }
}